# Common
node_modules
dist
.nuxt
coverage

# Lib
lib/module.plugin.js
lib/module.js
lib/module.middleware.js
lib/module.utils.js
lib/module.eventbus.js
lib/compatibility.js

# Test
test/fixture/nuxt.config.js
test/system/module.test.js
